.js .tabifybox-hide { display: none; }

.tabify_control {
	display: inline-block;
}

.tabify_tab {
	margin-bottom: 20px;
	padding: 0px 22px 5px 10px;
	overflow: visible;
}

.tabify_tab h2 {
	float: left;
	font-size: 20px;
	line-height: 24px;
	padding-bottom: 0px;
}

.tabify-remove-tab {
	color: #BC0B0B;
	float: right;
	line-height: normal;
	margin: 17px 5px 0px 0;
}

.tabify_control ul {
	margin: 0px;
	padding: 6px 0px 0px;
}

.tabify_control .item-order {
	float: right;
	margin-top: 5px;
	margin-right: 10px;
}

.tabify_control .item-order a {
	text-decoration: none;
}

/*.postbox-container .meta-box-sortables.empty-container,*/
#side-sortables.empty-container {
	border: 0px;
	height: auto;
}