.tabifybox-hide { display: none; }

.tabify_control .item-order {
	float: right;
	margin-right: 10px;
}

.tabify_control .item-order a {
	text-decoration: none;
}

/*.postbox-container .meta-box-sortables.empty-container,*/
#side-sortables.empty-container {
	border: 0px;
	height: auto;
}